[Desktop Entry]
Name=KTp SSH Contact
Name[cs]=Kontakt KTp SSH
Name[et]=KTp SSH kontakt
Name[fr]=Contact SSH pour KTp
Name[hu]=KTp SSH partner
Name[it]=Contatto SSH di KTp
Name[km]=ទំនាក់ទំនង KTp SSH
Name[nl]=KTp SSH-contactpersoon
Name[pl]=SSH do kontaktu przez KTp
Name[pt]=Contacto de SSH do KTP
Name[pt_BR]=Contato SSH do KTp
Name[ru]=KTp SSH Контакт
Name[sv]=KTP SSH-kontakt
Name[uk]=Контакт SSH KTp
Name[x-test]=xxKTp SSH Contactxx
GenericName=KTp SSH Contact
GenericName[cs]=Kontakt KTp SSH
GenericName[et]=KTp SSH kontakt
GenericName[fr]=Contact SSH pour KTp
GenericName[hu]=KTp SSH partner
GenericName[it]=Contatto SSH di KTp
GenericName[km]=ទំនាក់ទំនង KTp SSH
GenericName[nl]=KTp SSH-contactpersoon
GenericName[pl]=SSH do kontaktu przez KTp
GenericName[pt]=Contacto de SSH do KTP
GenericName[pt_BR]=Contato SSH do KTp
GenericName[ru]=KTp SSH Контакт
GenericName[sv]=KTP SSH-kontakt
GenericName[uk]=Контакт SSH KTp
GenericName[x-test]=xxKTp SSH Contactxx
Comment=Open an ssh connection with one of your contacts
Comment[cs]=Otevřít ssh spojení s jedním z Vašich kontaktů
Comment[de]=Eine SSH-Verbindung zu einem Ihrer Kontakte öffnen
Comment[et]=SSH-ühenduse avamine mõne kontaktiga
Comment[fr]=Ouvre une connexion ssh avec un de vos contacts
Comment[hu]=Egy SSH kapcsolat megnyitása a partnerei egyikével
Comment[it]=Apri una connessione SSH con uno dei tuoi contatti
Comment[km]=បើក​ការ​តភ្ជាប់ ssh ជា​មួយ​នឹង​ទំនាក់ទំនង​មួយ​ក្នុង​ចំណោម​ទំនាក់ទំនង​របស់​អ្នក
Comment[nl]=Open een ssh-verbinding met een van uw contactpersonen
Comment[pl]=Ustal połączenie ssh z jednym z twoich kontaktów
Comment[pt]=Abrir uma ligação SSH a um dos seus contactos
Comment[pt_BR]=Abre uma conexão ssh com um de seus contatos
Comment[ru]=Cоединение по протоколу SSH с вашими контактами
Comment[sv]=Öppna en SSH-anslutning med en av dina kontakter
Comment[uk]=Відкриття з’єднання SSH з одним з ваших контактів
Comment[x-test]=xxOpen an ssh connection with one of your contactsxx
Exec=ktp-ssh-contact %u
Type=Application
Terminal=false
Icon=telepathy-kde
Categories=Qt;KDE;Network;InstantMessaging;
